*.o
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.d
*.o
*.crf
*.axf
*.htm
*.lnp
*.map
*.sct
*.dep
*.hex
*.txt
*.ini
*.iex
*.lst
*.zygd
*.uvopt
*.uvproj
*.zygd
*.bak
*.uvopt
*.dep
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.txt
*.lst
# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
*.o
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.d
*.o
*.crf
*.axf
*.htm
*.lnp
*.map
*.sct
*.dep
*.hex
*.txt
*.ini
*.iex
*.lst
*.zygd
*.uvopt
*.uvproj
*.zygd
*.bak
*.uvopt
*.dep


/20161216--李佳/debug.log
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/List/bsp.lst
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/List/bsp.txt
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/List/bsp_cpu_rtc.lst
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/List/bsp_iwdg.lst
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/List/bsp_led.lst
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/List/bsp_spi_bus.lst
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/List/bsp_spi_flash.lst
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/List/bsp_tim_pwm.lst
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/List/bsp_timer.lst
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/List/bsp_timer.txt
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/List/bsp_uart_fifo.lst
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/List/bsp_user_lib.lst
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/List/bsp_user_lib.txt
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/List/main.lst
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/List/main.txt
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/List/output.map
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/List/stm32f10x_it.lst
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp.crf
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp.d
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_cpu_rtc.crf
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_cpu_rtc.d
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_cpu_rtc.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_iwdg.crf
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_iwdg.d
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_iwdg.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_led.crf
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_led.d
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_led.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_spi_bus.crf
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_spi_bus.d
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_spi_bus.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_spi_flash.crf
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_spi_flash.d
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_spi_flash.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_tim_pwm.crf
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_tim_pwm.d
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_tim_pwm.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_timer.crf
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_timer.d
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_timer.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_uart_fifo.crf
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_uart_fifo.d
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_uart_fifo.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_user_lib.crf
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_user_lib.d
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/bsp_user_lib.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/hal_cm3.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/main.crf
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/main.d
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/main.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/misc.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/output.axf
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/output.build_log.htm
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/output.hex
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/output.htm
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/output.lnp
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/rt_event.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/rt_list.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/rt_mailbox.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/rt_membox.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/rt_mutex.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/rt_robin.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/rt_semaphore.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/rt_system.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/rt_task.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/rt_time.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/rt_timer.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/rtx_conf_cm.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/stm32f10x_assert.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/stm32f10x_bkp.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/stm32f10x_exti.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/stm32f10x_flash.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/stm32f10x_gpio.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/stm32f10x_it.crf
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/stm32f10x_it.d
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/stm32f10x_it.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/stm32f10x_iwdg.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/stm32f10x_pwr.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/stm32f10x_rcc.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/stm32f10x_rtc.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/stm32f10x_spi.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/stm32f10x_tim.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/stm32f10x_usart.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/Flash/Obj/system_stm32f10x.o
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/JLinkLog.txt
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/project.uvopt
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/project.uvproj
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/project_Flash.dep
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/project_uvopt.bak
/MyTest2018.08-3_Z（水体液位协议）/Project/MDK-ARM(uV4)/project_uvproj.bak
/MyTest2018.08-3_Z（水体液位协议）/Project/output(mdk).hex
